<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.C1Excel" version="4.5.20211.492" targetFramework="net461" />
  <package id="C1.Win" version="4.5.20211.492" targetFramework="net461" />
  <package id="C1.Win.Bitmap" version="4.5.20211.492" targetFramework="net461" />
  <package id="C1.Win.C1DX" version="4.5.20211.492" targetFramework="net461" />
</packages>